<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Html2Keuix</title>
    <style>
        .wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .header {
            background-color: #161540;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
        }

        ._headerTitle {
            font-size: 30px;
            color: white;
            font-weight: bolder;
            padding-left: 5%;
            line-height: 70px
        }

        ._headerTitle > ._headerRightWrap {
            padding-left: 60%;
            position: absolute;
            top: 0px;
            margin: auto;
            display: flex;
        }

        ._gitImg {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        ._gitUrl {
            font-size: 15px;
            color: white;
            text-align: center;
        }

        ._gitUrl:hover {
            text-decoration-line: none;
            color: #F2EEFF;
        }

        .container {
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            bottom: 70px;
            _width: 100%;
            overflow-y: auto;
        }

        ._bTitle {
            color: #212529;
            font-size: 25px;
            font-weight: bolder;
            padding-left: 1%;
            margin-top: 85px;
            margin-bottom: 20px !important;
        }

        ._subTitle1 {
            color: #697176;
            font-size: 20px;
            padding-left: 1%;
            margin-bottom: 2px !important;
        }

        ._subTitle2 {
            color: #697176;
            font-size: 20px;
            padding-left: 1%;
            margin-bottom: 80px !important;
        }

        ._textarea {
            min-width: 100%;
            min-height: 500px;
            -webkit-box-shadow: 2px 8px 23px 0px rgba(230, 230, 230, 1);
            -moz-box-shadow: 2px 8px 23px 0px rgba(230, 230, 230, 1);
            box-shadow: 2px 8px 23px 0px rgba(230, 230, 230, 1);
        }

        ._pre {
            text-align: left;
            background-color: #E4E7FF;
            border: 1px solid #CCCEE8;
            min-width: 100%;
            min-height: 500px;
            -webkit-box-shadow: 2px 8px 23px 0px rgba(214, 215, 232, 1);
            -moz-box-shadow: 2px 8px 23px 0px rgba(214, 215, 232, 1);
            box-shadow: 2px 8px 23px 0px rgba(214, 215, 232, 1);
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        ._alertInfo {
            position: fixed;
            bottom: 50pt;
            left: 20pt;
        }

        .footer {
            background-color: #2C297F;
            height: 70px;
            width: 100%;
            background-image: none;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: 0% 0%;
            position: fixed;
            bottom: 0pt;
            left: 0pt;
        }

        ._btnWrap {
            font-size: 30px;
            color: white;
            font-weight: bolder;
            line-height: 70px;
            text-align: left;
        }

        ._exampleBtn {
            margin-left: 15px;
        }

        ._exampleBtn:nth-child(odd):focus {
            background-color: #D7D2E8 !important;
            color: #5651BF !important;
        }

        ._exampleBtn:nth-child(odd):hover {
            background-color: #D7D2E8 !important;
            color: #5651BF !important;
        }

        ._exampleBtn:nth-child(odd) {
            background-color: #433EBF !important;
        }

        ._exampleBtn:nth-child(even):focus {
            background-color: #6660BF !important;
            color: #F2EEFF !important;
        }

        ._exampleBtn:nth-child(even):hover {
            background-color: #6660BF !important;
            color: #F2EEFF !important;
        }

        ._exampleBtn:nth-child(even) {
            background-color: #D7D2E8 !important;
            color: #5651BF !important;
        }

    </style>
</head>
<body>
<div id="app"></div>
</body>
</html>